.header {
    position: relative;
    z-index: 3;
    padding: 20px 0;
    
    & .container {
        max-width: 1368px;
    }
}

.header-main {
    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100%; 

    & .burger span {
        background: #fff;

        &::before,
        &::after {
            background: #fff;
        }
    }
}

.header__body {
    display: flex;
    align-items: center;
}

.header__logo {
    margin: 0 auto 0 0;
}

.logo-link {
    
    & svg,
    & img {
        filter: contrast(0%) brightness(2);
    }
}

.header__menu {
    max-width: 650px;
    width: 100%;

    @media screen and (max-width: $wwa + px) {
      position: fixed;
      top: 0;
      right: -100%;
      max-width: none;
      width: 100%;
      height: 100%;
      background: $main;
      z-index: 1;
      transition: $tr;
      overflow-y: auto;
      
      &._show {
          right: 0;
        }
        
        & .header__menu__body {
            min-height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 48px 0;
        }
    }
}

.header__menu__list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: $wwa + px) {
      flex-direction: column;
    }
}

.header__menu-item {

    &:not(:last-child) {
        margin: 0 24px 0 0;
    }

    & a {
        font-size: 16px;
        color: #fff;
        text-transform: uppercase;
        transition: $tr;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 50%;
            width: 0;
            height: 1px;
            transform: translate(-50%,0);
            background: #fff;
            transition: $tr;
        }

        &:hover {

            &::before {
                width: 100%;
                // transform: translate(0,0);
            }
        }
    }

    @media screen and (max-width: $wwa + px) {

        &:not(:last-child) {
            margin: 0 0 24px 0;
        }
    }
}

.header__reg {
    margin: 0 0 0 auto;

    @media screen and (max-width: 600px) {
      display: none;
    }
}

.header__reg-login {
    background: #fff;
    color: $main;
    margin: 0 0 0 20px;
}

.burger {
    display: none;

    @media screen and (max-width: $wwa + px) {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 0 24px;
    
        & span {
            position: relative;
            width: 100%;
            height: 3px;
            display: block;
            background: $main;
    
            &::before {
                content: '';
                position: absolute;
                top: -8px;
                left: 0;
                width: 100%;
                height: 3px;
                background: $main;
                transform: translate(0, -50%);
                transition: $tr;
            }
    
            &::after {
                content: '';
                position: absolute;
                bottom: -8px;
                left: 0;
                width: 100%;
                height: 3px;
                background: $main;
                transform: translate(0, 50%);
                transition: $tr;
            }
        }

        &._active {
            position: relative;
            z-index: 1;
            
            & span {
                background: rgba(0,0,0,0);

                &::before {
                    top: 0;
                    transform: rotate(45deg);
                    background: #fff;
                }
    
                &::after {
                    bottom: 0;
                    transform: rotate(-45deg);
                    background: #fff;
                }
            }

        }
    }
}