.faq__wrap {
    width: 686px;
    max-width: 100%;
    margin: auto;
    hr {
        margin-top: 5px;
        border: 2px solid #B7BAE3;
    }
    .btn__row {
        text-align: center;
        margin-top: 35px;
    }
}

.faq-title__wrap {
    background-image: url(../img/dropdown.svg);
    background-repeat: no-repeat;
    background-position: center right 23px;
    padding: 20px 65px 20px 0;
    h3 {
        font-family: 'MavenProBold';
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: #212329;
    }
}
.faq-item {
    background: #F0F7F9;
    cursor: pointer;
    margin-bottom: 20px;
    &__ask {
        position: relative;
        padding: 26px 55px 26px 20px;
        border-radius: 0px 6px 6px 0px;
        h3 {
            font-size: 18px;
            letter-spacing: 0.3px;
            color: #212329;
            text-transform: unset;
            font-family: 'MavenProRegular';
        }
    }
    &__icon {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 20px;
        width: 32px;
        height: 32px;
        border: 2px solid #27B0C7;
        border-radius: 100%;
        cursor: pointer;
        &::before {
            content: "";
            width: 20px;
            height: 2px;
            display: block;
            background-color: #27B0C7;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            margin: auto;
            right: 0;
        }
        &::after {
            content: "";
            width: 20px;
            height: 2px;
            display: block;
            background-color: #27B0C7;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            margin: auto;
            right: 0;
            transform: rotate( 90deg );
            transition: transform .3s;
        }
    }
    &__answer {
        font-size: 14px;
        line-height: 20px;
        padding: 0 20px 20px 20px;
        margin-top: -15px;
        width: 577px;
        max-width: 100%;
        position: relative;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: all .5s;
    }
}

.faq-item.active {
    .faq-item__answer {
        max-height: 1000px;
        opacity: 1;
        transition: max-height .5s;
    }
    .faq-item__icon::after {
        transform: rotate(0deg);
        transition: transform .3s;
    }
}

.faq__form {
    width: 438px;
    max-width: 100%;
    margin: 0 auto;
}

.input__col {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    label {
        font-size: 14px;
        color: #212C52;
        margin-bottom: 5px;
    }
    select {
        font-size: 18px;
        padding: 10px 20px;
        border: 1px solid #C0C0C0;
        border-radius: 3px;
        color: #C0C0C0;
        appearance: unset;
        background: url(../img/select-dropdown.png) no-repeat center right 13px;
    }
    textarea {
        min-height: 129px;
        border: 1px solid #C0C0C0;
        border-radius: 3px;
        color: #000;
        font-size: 18px;
        padding: 10px 20px;
    }
}

select option {
    color: #293862;
}

@media (max-width: 768px) {
    .page-faq {
        overflow: hidden;
    }
    .faq-item {
        position: relative;
    }
    .faq-item:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: -280px;
        background: #f0f7f9;
    }
    .faq-item:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: -280px;
        background: #f0f7f9;
    }
}