.page-kategorien {
    overflow: hidden;
    background: #F0F7F9;
}

.suchergebnis__wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 55px;
    .student-rating {
        right: 20px
    }
}

.suchergebnis__item {
    position: relative;
    width: 330px;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.25);
    padding: 20px 10px 23px 31px;
    margin-bottom: 17px;
    border-radius: 5px;
        background: #fff;
        margin: 0 17px 17px 0;
}

.suchergebnis-item__top {
    background: #212C52;
    color: #fff;
    text-align: center;
    padding: 7px 0 6px;
    line-height: 17px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 5px 5px 0 0;
}

.suchergebnis__item--message {
    padding-top: 50px;
}

.suchergebnis-item__logo {
    margin-bottom: 6px;
}

.suchergebnis-item__title {
    max-width: 235px;
    margin-bottom: 23px;
    letter-spacing: 0.2px;
    h3 {
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: #212329;
        font-family: 'MavenProMedium';
    }
}

.suchergebnis-item__info {
    margin-bottom: 37px;
}

.suchergebnis-item__richtung {
    margin-bottom: 14px;
    .students-box__school {
        display: flex;
        margin-bottom: 4px;
    }
    .students-box__semester {
        justify-content: unset;
        font-size: 12px;
        margin-left: -2px;
    }
    .icon__wrap {
        margin-left: -2px;
    }
}

.students-text__wrap {
    font-size: 16px;
    color: inherit;
    font-family: 'MavenProBold';
    line-height: 20px;
    span {
        font-size: 12px;
        font-family: 'MavenProRegular';
        display: block;
    }
}
.suchergebnis-info__row {
    margin-bottom: 6px;
    p {
        color: inherit;
        font-size: 16px;
        font-family: 'MavenProBold';
        line-height: 19px;
    }

    span {
        color: #838383;
        font-size: 12px;
    }
}

.suchergebnis-item__footer {
    display: flex;
}

.suchergebnis-item__status {
    background: #27B0C7;
    border-radius: 5px 0px;
    font-family: 'MavenProBold';
    color: #fff;
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 21.15px;
    position: absolute;
    right: 0;
    bottom: 0;
    span {
        display: block;
        font-size: 12px;
        font-family: 'MavenProRegular';
        text-align: center;
        line-height: 14.1px;
        margin-bottom: 3px;
        margin-top: 9px;
    }
}

@media (max-width: 1023px) {
    .suchergebnis__wrap {
        .student-rating {
            right: 7px;
        }
    }
    .suchergebnis__wrap {
        justify-content: center;
    }
    .page-kategorien {
        .students-box__header{
            align-items: center;
            margin-bottom: 14px;
        }
        .students-box__icon{
            height: 14px;
            width: 14px;
        }
        .students-box__city{
            font-size: 12px;
        }

        .student-rating{
            margin-top: 0;
        }
        .students-box__semester svg{
            margin-left: 0;
            margin-right: 5px;
        }
        
        .page-form__wrap{
            order: 0;
            margin-top: 55px;
            margin-bottom: 0;
        }
        .page-title__wrap h1{
            margin-top: 0;
            font-size: 20px;
            text-align: center;
            margin-bottom: 10px;
        }
        .page-title__wrap p{
            text-align: center;
            font-size: 18px;
            margin-bottom: 0px;
        }
        .page-body{
            margin-top: 0;
        }
    }
    .suchergebnis__item{
        padding: 10px;
    }
    .suchergebnis__item--message {
        padding-top: 50px;
    }
    .suchergebnis-item__richtung .icon__wrap{
        margin-left: 0;
        margin-right: 5px;
    }
    .suchergebnis-item__richtung .students-box__semester{
        margin-left: 0;
    }
}

@media (min-width: 1024px) and (max-width: 1366px) {
    .suchergebnis__item {
        width: 31%;
    }
    .suchergebnis__wrap {
        margin-right: -18px;
    }
}

@media (min-width: 1024px) {
    .category-swiper-next {
        right: -14px;
    }
    .suchergebnis__wrap{
        margin-right: -17px;}
    .category-swiper-prev {
        left: -14px;
    }
    .page-kategorien {
        .popular-categories__slider {
            margin-top: 10px;
        }
    }

    .suchergebnis-item__title h3 {
        min-height: 63px;
    }
}