.student-card {
    max-width: 240px;
    width: 100%;
    background: #fff;
    border-radius: 6px;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.25);
    padding: 12px 18px 30px;
}

.student-card_big {
    padding: 0;

    @media screen and (max-width: $wwa2 + px) {
      max-width: none;
    }

    & .student-briefly {
        width: 25%;
        position: relative;
        padding: 7px 21px 20px;

        @media screen and (max-width: $wwa2 + px) {
            width: 100%;
        }
    }

    & .student-about,
    & .student-message {
        position: relative;
        width: 77%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 21px 28px;
        background: #F0F7F9;

        @media screen and (max-width: $wwa2 + px) {
            width: 100%;
        }
    }

    @media screen and (min-width: $wwa2 + px) {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: none;
        overflow: hidden;
    
        & .students-box__phone {
            display: none;
        }
    }
}


// Основная информация о студенте
.student-briefly {

}

.student-briefly__header {

}


.student-briefly__avatar {
    position: relative;
    max-width: 142px;
    margin: 10px auto 0 auto;
}

.student-briefly__avatar-img {
    border-radius: 200px;
    overflow: hidden;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.student-briefly__call {
    position: absolute;
    bottom: -8px;
    right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $accent;
    border-radius: 100px;
    transition: $tr;

    &:hover {
        background: $accent-hover;
    }
}

.student-briefly__call-icon {
    width: 22px;
    height: 22px;


    & svg {
        width: 100%;
        height: 100%;
    }
}

.student-briefly__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0 0;
}

.student-briefly__info-title {
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
}

.student-briefly__info-block {
    display: flex;
    align-items: center;
    margin: 10px 0 0 0;
}

.student-briefly__info-block-icon {
    width: 14px;
    height: 14px;

    & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.student-briefly__info-block-text {
    font-size: 12px;
    margin: 0 0 0 5px;
}

.student-briefly__info-subtitle {
    font-size: 15px;
    font-weight: 500;
    margin: 10px 0 0 0;
}


// Подробнее о студенте
.student-about {
    // display: none;
}

.student-about__content {
    text-align: left;

    &:not(:last-child) {
        margin: 0 0 24px 0;
    }

    &:last-child {
        padding: 0 90px 0 0;
    }
}

.student-about__title {
    font-size: 15px;
    font-weight: 500;
    margin: 0 0 11px 0;
    text-transform: uppercase;
}

.student-about__text {

}

.student-abroad {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.student-abroad__title {
    font-size: 12px;
    font-weight: 500;
    color: #838383;
    margin: 0 0 5px 0;
}

.student-abroad__item {
    margin: 6px 0;

    &:not(:last-child) {
        margin-right: 60px;
    }
}

.student-abroad__info {
    display: flex;
    align-items: center;
}

.student-abroad__info-icon {
    display: flex;
    width: 14px;
    height: 14px;
    margin: 0 5px 0 0;

    & svg {
        width: 100%;
        height: 100%;
    }
}

.student-abroad__info-text {
    font-size: 16px;
    font-weight: 400;
}

.student-about__content-help {

}

.student-about__list {
    display: flex;
    flex-wrap: wrap;
}

.student-about__list-item {
    display: block;
    font-size: 16px;
    background: #fff;
    padding: 12px;
    border-radius: 6px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 12px 12px 0;

    &:hover {
        transform: translate(2px, 4px);
        box-shadow: 2px 0 6px rgba(0, 0, 0, 0);
    }

    @media screen and (max-width: $wwa3 + px) {
      font-size: 12px;
      padding: 6px 12px;
      margin: 0 6px 6px 0;
    }
}

.student-call__block {
    position: absolute;
    bottom: 20px;
    right: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.student-call__label {
    font-size: 12px;
    font-weight: 500;
    color: #838383;
}

.student-call__price {
    font-size: 16px;
    font-weight: 400;
}

.student-call__link {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $accent;
    border-radius: 100px;
    margin: 10px 0 0 0;
    transition: $tr;

    &:hover {
        background: $accent-hover;
    }
    
    & svg {
        width: 50%;
        height: 50%;
    }
}

.student-call-icon {
}