.how-work__tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.tab__link  {
    color: #C8C8C8;
    padding: 10px 100px;
    cursor: pointer;
    border-bottom: 2px solid;
}

.tab__link.active {
    font-weight: 700;
    color: #27B0C7;
    border-bottom: 5px solid;
}

.tab-content {
    justify-content: space-evenly;
    display: none;
}

.tab-content.active {
    display: block;
}

.how-work__slider {
    display: flex;
}

.how-work__item {
    width: 241px;
    padding:15px 32px 50px 20px;
    border-radius: 5px;
    flex-direction: column;
    cursor: pointer;
    align-items: baseline;
    text-align: left;
}



.how-work__item:hover {
    background-color: #F0F7F9;
}

.how-work__item:first-child {
    background-color: #F0F7F9;
}

.how-work__icon {
    width: 132px;
    height: 132px;
    background: #F0F7F9;
    border-radius: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 23px;
    margin-left: -20px;
}

.how-work__title {
    margin: 29px 0 20px;
    min-height: 42px;
    h3 {
        font-size: 18px;
        color: #212329;
    }
}

.how-work__text {
    font-size: 16px;
    color: #212329;
}

@media (max-width: 1023px) {
    .tab__link {
        padding: 15px 10px;
        min-width: 146px;
        font-size: 14px;
        text-align: center;
    }
    .how-work__item {
        background-color: #F0F7F9;
        text-align: left;
        max-width: 276px;
        overflow: hidden;
    }
    .how-work__item.swiper-slide-active {
        border: 0;
        height: 100%;
        .how-work__icon {
            padding: 29px 23px 17px 0;
            img {
                width: 96px;
            }
        }
        .how-work__title {
            font-size: 18px;
        }
        .how-work__text {
            font-size: 16px;
        }

    }
    .how-work__icon {
        height: auto;
        justify-content: unset !important;
    }
    .how-work__slider {
        width: 95%;
        margin: auto;
        position: relative;
        .swiper-wrapper{
            align-items: center;
        }
    }

    .tab-content {
        padding-bottom: 20px;
    }

    .how-work__icon {
        width: 100%;
        justify-content: end;
        padding: 0;
        margin-left: 0;
        img {
            width: 75px;
        }
    }

    .how-work__title {
        width: 100%;
        text-align: left;
        min-height: auto;
        h3 {
            font-size: 16px;
        }
    }

    .how-work__text {
        width: 100%;
        font-size: 14px;
    }

}

@media (min-width: 1024px) {
    .how-work {
        padding-bottom: 0;
        .container {
            overflow: hidden;
        }
    }

    .how-work__wrap {
        max-height: 342px;
        overflow: hidden;
    }
    
    .header__btn {
        .btn--full {
            box-shadow: 0 0 15px 1px #00000052;
        }
    }
    .how-work__item {
        max-width: 241px;
        padding-top: 15px;
    }

    .how-work__slider .pagination {
        display: none;
    }
}

@media (max-width: 768px) {
    .how-work__item.swiper-slide-active .how-work__icon {
        padding-top: 0;
        justify-content: flex-start;
    }
}