.students {
    background: $bg-light;

    @media screen and (max-width: 900px) {
      
        & .container {
            max-width: none;
            padding: 0;
        }
    }
}

.students__header {

}

.students-title {

}

.students__body {
    margin: 20px 0 0 0;
}

.students__slider {
    overflow: hidden;
    padding: 20px 16px;
}

.students-slide {
    display: flex;
    justify-content: center;

    & .student__card {
        max-width: none;
    }
}
