.studenten {
    .section__btn {
        text-align: center;
    }
    .students-box {
        width: 241px;
        filter: drop-shadow(2.55026px 5.10053px 15.3016px rgba(0, 0, 0, 0.25)) !important;
        flex-direction: column;
        .students-box__img {
            width: 142px;
            height: 142px;
            border-radius: 100%;
            margin: auto;
        }
        .students-box__phone {
            width: 40px;
            height: 40px;
            right: 0;
            svg {
                width: 21px;
                height: auto;
            }
        }
        .students-box__header {
            width: 100%;
        }
    }
}

.studenten__wrap {
    display: flex;
    justify-content: space-between;
}

.change-block {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.student-rating {
    display: flex;
    position: absolute;
    right: 7px;
    align-items: center;
}

.star {
    margin: 0 5px;
}

.student-rating__all {
    margin-right: 10px;
}

.studenten-page__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .students-box__phone {
        right: 20px;
    }
    .students-box {
        max-width: 241px;
        margin-bottom: 26px;
    }
}

.btn__wrap.other {
    text-align: center;
    margin-top: 20px;
}


.studenten-show {
    .studenten__wrapper {
        width: 100%;
        display: flex;
        margin-bottom: 20px;
    }
    .students-box {
        width: 100% !important;
        margin-right: 0 !important;
        margin-bottom: 0 !important;
        border-radius: 0;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    .requests-info__text span {
        flex-wrap: wrap;
        margin-right: 60px;
    }

    .requests-text__header {
        display: block;
        width: 100%;
        font-size: 12px;
        line-height: 14px;
        color: #838383;
        margin-bottom: 5px;
    }

    .requests-info__row {
        width: 100% !important;
    }

    .requests-info__text {
        width: 100% !important;
    }

    .requests-help {
        width: 615px;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .requests-info {
        padding-bottom: 0 !important;
        position: relative;
        display: block !important;
    }

    .requests-help__link {
        font-size: 14px;
        line-height: 16px;
        color: #212C52;
        padding: 12px;
        background: #FFFFFF;
        box-shadow: 2px 4px 6px #0000001a;
        border-radius: 6.37566px;
        margin-right: 12px;
        margin-bottom: 13px;
    }

}

.requests-call {
    position: absolute;
    bottom: 20px;
    right: 11px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.requests-call__title {
    font-size: 12px;
    line-height: 14px;
    color: #838383;
    font-family: 'MavenProRegular';
    font-weight: normal;
    text-transform: unset;
}

.requests-call__price {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
}

.requests-call__icon {
    width: 73px;
    height: 73px;
    background: #27B0C7;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (max-width: 1023px) {
    .student-rating {
        font-size: 12px;
    }
    .main-screen__offer .students-box__city {
        padding: 0 !important;
    }
    .main-screen__offer .students-box__header .students-box__icon {
        margin-right: 3px ;
        margin-top: -2px;
    }
    .change-block {
        display: none;
    }
.main-screen__offer .students-box {
    padding-top: 5px !important;
}

.main-screen__offer .students-box__school .students-box__icon {
    margin-right: 3px;
    margin-top: -1px;
}
.main-screen__offer .students-box__semester .students-box__icon {
    margin-top: -1px;
}
    .studenten {
        .students-box {
            flex-direction: column;
            border: 0;
            width: 241px;
            margin-right: 15px;
            padding: 13px;
        }
        .students-box__header {
            width: 100%;
        }
        .students-box__city {
            font-size: 12px;
        }
        .students-box__img {
            img {
                width: 142px;
            }
        }
        .students-box__title {
            font-size: 22px;
        }

        .students-box__school {
            font-size: 12px;
            display: flex;
            justify-content: center;
            svg {
                width: 14px;
            }
        }


        .students-box__specialization {
            font-size: 15px;
            padding: 9px 20px;
        }

        .students-box__semester {
            font-size: 12px;
            display: flex;
            justify-content: center;
        }

        .swiper-slide-active {
            font-size: inherit;
            height: auto;
        }
        .container {
            display: flex;
            flex-direction: column;
        }

        .title__wrap {
            margin-bottom: 20px;
        }

        .studenten__wrap  {
            order: 2;
            margin-top: 54px;
        }
    }

    .studenten__wrap {
        width: 100%;
    }

    .studenten-page__wrap {
        justify-content: center;
        .students-box {
            margin-bottom: 20px;
        }
        .students-box__city {
            margin-top: 0;
        }
        .students-box__header {
            margin-bottom: 10px;
        }
    }
}

.main-screen__offer {
    .students-box__icon {
        width: 18px;
    }
    .students-box__header {
        .students-box__icon {
            width: 13px;
        }
    }
    .students-box__city {
        padding-top: 5px;
    }
    .students-box {
        padding-top: 11px;
    }
}

.students-box__icon {
    width: 10.72px;
}
@media (min-width: 1024px) {
    .studenten  {
        .container {
            width: 1055px;
            padding: 0;
        }
        .students-box {
            padding: 7px 21px 28px;
            margin: 0 13px 26px;
            max-width: 241px;
            filter: unset !important;
        }
        .swiper-wrapper {
            filter: drop-shadow(1.55026px 2.10053px 4.3016px rgba(0, 0, 0, 0.15)) !important;
        }
        .students-box__header {
            margin-top: 3px;
        }

        .students-box__city {
            font-size: 12px;
            padding-top: 6px;
        }

        .student-rating {
            font-size: 12px;
            padding-top: 4px;
        }

        .students-box__text {
            margin-top: 23px;
            svg {
                width: 14px;
            }
        }

        .students-box__title {
            font-size: 22px;
        }
        .students-box__phone {
            bottom: -9px;
        }

        .students-box__school {
            font-size: 12px;
            margin-top: 5px;
            margin-left: -17px;
            svg {
                margin-right: 0;
                top: 4px;
            }
        }

        .students-box__specialization {
            font-size: 15px;
            margin-bottom: 14px;
        }


        .students-box__semester {
            font-size: 12px;
            margin-left: -20px;

        }



    }
    .studenten__wrap {
        overflow: hidden;
        filter: drop-shadow(2.55026px 5.10053px 15.3016px rgba(0, 0, 0, 0.25));
    }

    .studenten-page__wrap {
        justify-content: unset;
        margin: 0 -15px;
    }

    .students-box {
        padding: 15px 13px 30px;
    }
    .studenten  {
        .students-box__school {
            svg {
                position: relative;
                top: 3px;
            }
        }
    }
}

@media (min-width:1024px) and (max-width: 1080px) {
    .studenten-page__wrap .studenten__wrapper {
        width: 30% !important;
    }
}

@media (min-width: 1024px) and (max-width: 1368px) {
    .studenten {
        .container {
            max-width: 1055px;
        }
    }
    .requests-info {
        padding-bottom: 85px !important;
    }
    .studenten-page__wrap {
        .studenten__wrapper {
            width: 22%;
            margin: 0 13px 26px;
        }
        .students-box {
            width: 22%;
            margin: 0;
        }
    }
    .select__wrapper {
        select {
            min-width: 256px !important;
        }
    }
}

@media (max-width: 1220px) {
    .requests-call {
        display: none;
    }
}